body{
    background-color: rgb(39, 15, 9);
}
h2{
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
h3{
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#Title{
    color: rgb(255, 255, 255);
    height: 2cm;

}
#miVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: 1cm;
    width: auto;
}
